<?xml version="1.0"?>
<robot name="ranger_mini_v2" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="mass"     value="0.17"/>
    <xacro:property name="length_x" value="0.071" />
    <xacro:property name="length_y" value="0.10" />
    <xacro:property name="length_z" value="0.06" />

    <joint name ="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_frame"/>
        <origin xyz="0 0 0.025" rpy="0 0 0" />  
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${mass}" />
            <origin rpy="0 0 0" xyz="0.0 0 ${0.5 * length_z}"/>
            <inertia
                ixx="${(1/12) * mass * (length_y*length_y + length_z*length_z)}"
                ixy="0.0"
                ixz="0.0"
                iyy="${(1/12) * mass * (length_x*length_x + length_z*length_z)}"
                iyz="0.0"
                izz="${(1/12) * mass * (length_x*length_x + length_y*length_y)}" />
        </inertial>
    </link>


    <gazebo reference="laser_frame"> 
        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>50</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
   </gazebo> 

</robot>
        
